
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.campoProjetos{
	display: flex;
	flex-flow: column wrap;
	background-color: gray;
	border: groove;
	margin: 1%;
	padding: 2% 1%;
	width: 25%;
}

.campoDescricoes{
	display: flex;
	flex-flow: column wrap;
	background-color: gray;
	border: groove;
	margin: 1%;
	padding: 2% 1%;
	width: 25%;
}

.projetosDescricoes{
	display: flex;
	justify-content: center;
	background-image: linear-gradient(white, #808996);
}

.datasInicialFinal{
	display: flex;
	align-self: center;
	flex-flow: column wrap;
	background-color: gray;
	border: groove;
	margin: 1%;
	padding: 2% 1%;
	width: 25%;

}

.entradaDeData{
	display: flex;
	align-self: center;
	margin: 5px 0;
}

.blocoFinal{
	display: flex;
	flex-flow: column wrap;
	background-image: linear-gradient(#808996, white);
}

#btGerar{
	display: flex;
	align-self: center;
	padding: 15px 32px;
}

input{
	padding: 5px;
	margin: 5px 20px;
}

label{
	/*margin: 0 5px;*/
}

p{
	align-self: center;
	margin: 5px 0;
}

button{
	margin: 5px 0;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 5px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}